---
layout: default
---

<!-- 
	TO MAKE PAGE REFRESH EVERY 3 SECONDS 
	THIS IS ADD ON DATE : 09/04/2023
-->
<meta http-equiv="refresh" content="3" />
<!-- 
	END REFRESH PAGE 
-->

<article id="post-page">
	<h2>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>		
	<!-- <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }} | {{page.categories}}</time> -->
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }} | {{page.author}}</time> 
	<div class="content">

		{{ content }}
		
	</div>
</article>

